Repository Wedvich/sbanken-ynab: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

updated versions changed directories
  docker/Dockerfile
Due: none

created buildscript to handle out of context error
  docker/Dockerfile
  docker/build.sh
Due: none

added dockerignore set up build.sh to use tmp-folder, and delete it after build changed build image from alpine to debian set up temp-folder copy wwwroot from build to nginx image
  docker/.dockerignore
  docker/Dockerfile
  docker/build.sh
Due: none

changed from cp to rsync in build.sh to better handle copying content into its own folder
  docker/build.sh
Due: none

added readme to docker setup
  docker/README.md
Due: prettier --write

Added label to Dockerfile and used it to clean up the build image in build.sh
  docker/Dockerfile
  docker/build.sh
Due: none

updated readme to mention the deletion of the build image
  docker/README.md
Due: prettier --write

Add `frame-ancestors: 'self'` to CSP
  Startup.cs
Due: none

Update deps
  package.json
  src/service-worker/manager.tsx
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Bump vulnerable deps
  package.json
  yarn.lock
Due: prettier --write

Start refactoring transactions
  package.json
  src/components/transactions.tsx
  src/services/sbanken/thunks.ts
  src/services/transactions.ts
  src/services/ynab/thunks.ts
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

fix: upgrade eslint-plugin-react-hooks from 4.2.0 to 4.3.0
  package.json
  yarn.lock
Due: prettier --write

Disable Stylelint for now
  azure-pipelines.yml
Due: none

Use tabular numbers for dates
  src/components/transactions.tsx
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Link transactions
  .eslintrc.js
  babel.config.js
  package.json
  src/components/transactions.tsx
  src/selectors/accounts.ts
  src/services/accounts.ts
  src/services/sbanken/api.ts
  src/services/sbanken/types.ts
  src/services/sbanken/utils.test.ts
  src/services/sbanken/utils.ts
  src/services/transactions.ts
  src/services/ynab.ts
  src/services/ynab/api.ts
  src/utils.ts
  src/utils.tsx
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

added docker-compose example in the README
  docker/README.md
Due: prettier --write

Set initial budget
  src/pages/onboarding.tsx
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Add transaction creation
  src/components/account.tsx
  src/components/transactions.tsx
  src/services/ynab/api.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

feat: upgrade tailwindcss from 2.2.19 to 3.0.12
  package.json
  yarn.lock
Due: prettier --write

Commit state file
  .gitignore
  node_modules/.yarn-state.yml
Due: none

Use PnP linker
  .gitattributes
  .gitignore
  .pnp.cjs
  .pnp.loader.mjs
  .yarnrc.yml
  node_modules/.yarn-state.yml
Due: none

Revert Node version
  .nvmrc
Due: none

Ensure Corepack in CI
  azure-pipelines.yml
Due: none

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier --write

Switch to react-router 6
  .yarn/cache/@remix-run-router-npm-1.2.1-b89e8a23a3-71c947f83e.zip
  .yarn/cache/core-js-pure-npm-3.12.1-ac3be20f93-244fcdbb09.zip
  .yarn/cache/core-js-pure-npm-3.27.0-0e7f5cdef0-83e1aa7eab.zip
  .yarn/cache/history-npm-4.10.1-ee217563ae-addd84bc46.zip
  .yarn/cache/isarray-npm-0.0.1-92e37e0a70-49191f1425.zip
  .yarn/cache/mini-create-react-context-npm-0.4.1-06f382591b-f8cb2c7738.zip
  .yarn/cache/path-to-regexp-npm-1.8.0-a1904f5c44-709f6f083c.zip
  .yarn/cache/react-router-dom-npm-5.3.0-aa9adb5bec-47584fd629.zip
  .yarn/cache/react-router-dom-npm-6.6.1-7948c86aa5-68a4419c20.zip
  .yarn/cache/react-router-npm-5.2.1-ea754d7473-7daae084bf.zip
  .yarn/cache/react-router-npm-6.6.1-68667fcbd9-58f0ad2912.zip
  .yarn/cache/resolve-pathname-npm-3.0.0-bab4d7e47c-6147241ba4.zip
  .yarn/cache/tiny-invariant-npm-1.1.0-105cc1fc8e-27d29bbb9e.zip
  .yarn/cache/tiny-warning-npm-1.0.3-750b7a07c4-da62c4acac.zip
  .yarn/cache/value-equal-npm-1.0.1-7811e93c9b-bb7ae1facc.zip
  package.json
  src/app.tsx
  src/components/account-editor.tsx
  src/components/account.tsx
  src/pages/landing.tsx
  src/pages/main.tsx
  src/pages/onboarding.tsx
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Auto fetch tokens on onboarding page load
  src/pages/onboarding.tsx
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Add logos and manifest
  src/resources/app.json
  src/resources/images/icon_round.png
  src/resources/images/icon_square.png
  src/service-worker/index.ts
  webpack.config.prod.js
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Update .NET SDK version in CI
  azure-pipelines.yml
Due: none

Path conditions:
  eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,scss,md,html})
