Repository Wedvich/sbanken-ynab: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore",
    "prettier --write"
  ],
  "*.{json,scss,md,html}": ["prettier --write"]
}

Let yarn skip if cache is restored
  azure-pipelines.yml
Due: none

Change definition for self
  src/service-worker/index.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Add SPA routing support to SW
  src/service-worker/index.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Progress
  package.json
  src/app.tsx
  src/index.html
  src/pages/landing.tsx
  src/pages/main.tsx
  src/pages/settings.tsx
  src/sbanken/api.ts
  src/sbanken/slice.ts
  src/sbanken/types.ts
  src/sbanken/utils.ts
  src/service-worker/manager.tsx
  src/service-worker/worker.ts
  src/store/index.ts
  src/utils/index.ts
  tsconfig.json
  webpack.config.sw.js
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier --write

Set up more onboarding infrastructure
  package.json
  src/app.tsx
  src/config.ts
  src/index.tsx
  src/pages/landing.tsx
  src/pages/onboarding.tsx
  src/services/index.ts
  src/services/sbanken.ts
  tailwind.config.js
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Show main page and store credentials/tokens
  package.json
  src/app.css
  src/app.tsx
  src/components/modal.tsx
  src/global.d.ts
  src/index.tsx
  src/pages/landing.tsx
  src/pages/main.tsx
  src/pages/onboarding.tsx
  src/service-worker/manager.tsx
  src/services/index.ts
  src/services/sbanken.ts
  src/services/ynab.ts
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Bump some deps
  package.json
  yarn.lock
Due: prettier --write

Revert postcss override
  package.json
  yarn.lock
Due: prettier --write

Fetch accounts and create linked accounts
  .eslintrc.js
  package.json
  src/app.tsx
  src/components/account-editor.tsx
  src/components/transactions.tsx
  src/pages/main.tsx
  src/pages/onboarding.tsx
  src/services/accounts.ts
  src/services/index.ts
  src/services/sbanken.ts
  src/services/ynab.ts
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Bump deps
  package.json
  yarn.lock
Due: prettier --write

Add account balances
  src/pages/main.tsx
  src/selectors/accounts.ts
  src/services/accounts.ts
  src/services/sbanken.ts
  src/services/ynab.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

fix: upgrade @typescript-eslint/parser from 4.28.5 to 4.29.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @typescript-eslint/eslint-plugin from 4.28.5 to 4.29.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade eslint from 7.26.0 to 7.32.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade snyk from 1.669.0 to 1.675.0
  package.json
  yarn.lock
Due: prettier --write

feat: upgrade css-loader from 5.2.5 to 6.2.0
  package.json
  yarn.lock
Due: prettier --write

Use asset modules
  package.json
  webpack.config.base.js
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Refresh Sbanken tokens on load
  package.json
  src/app.tsx
  src/pages/landing.tsx
  src/pages/onboarding.tsx
  src/services/sbanken.ts
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Add transactions page per account
  src/components/account-editor.tsx
  src/components/account.tsx
  src/components/transactions.tsx
  src/pages/main.tsx
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Show account balances
  src/components/account.tsx
  src/components/transactions.tsx
  src/pages/main.tsx
  src/selectors/accounts.ts
  src/utils.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

feat: upgrade mini-css-extract-plugin from 1.6.0 to 2.2.0
  package.json
  yarn.lock
Due: prettier --write

Init new account name
  src/components/account-editor.tsx
  src/components/account.tsx
  src/config.ts
  src/services/sbanken.ts
  src/services/sbanken/thunks.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Update indent rule and a few other deps
  .eslintrc.js
  .husky/.gitignore
  package.json
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Fetch Sbanken transactions with RTKQ
  src/components/transactions.tsx
  src/services/index.ts
  src/services/sbanken/api.ts
  src/services/sbanken/hooks.ts
  src/services/ynab/api.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Implement transactions query
  src/components/account.tsx
  src/components/transactions.tsx
  src/services/sbanken.ts
  src/services/sbanken/thunks.ts
  src/services/sbanken/types.ts
  src/services/sbanken/utils.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Fetch YNAB transactions
  src/components/transactions.tsx
  src/services/sbanken/thunks.ts
  src/services/ynab.ts
  src/services/ynab/thunks.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Bump dependencies
  package.json
  yarn.lock
Due: prettier --write

Check account loading state for sidebar
  .eslintrc.js
  package.json
  src/pages/main.tsx
  src/selectors/accounts.ts
  src/services/accounts.ts
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

List transactions
  .eslintrc.js
  src/components/transactions.tsx
  src/services/sbanken/api.ts
  src/services/ynab/api.ts
  webpack.config.dev.js
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Fix lint
  src/pages/onboarding.tsx
  src/service-worker/index.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Fix types
  src/services/ynab.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Force reload cached assets
  src/service-worker/index.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Force update manifest as well
  src/service-worker/index.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Only force reload unversioned assets
  src/service-worker/index.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

docker init
  docker/Dockerfile
Due: none
