Repository Wedvich/sbanken-ynab: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Lint everything
  .husky/pre-commit
  src/accounts/components/account-name.tsx
  src/accounts/components/add-account.tsx
  src/accounts/index.tsx
  src/modals/components/error-modal-details.tsx
  src/modals/components/export-settings-modal.tsx
  src/modals/components/import-settings-modal.tsx
  src/modals/index.tsx
  src/onboarding/saga.ts
  src/shared/offline-banner/index.tsx
  src/shared/use-focus-trap.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Update caniuse-lite db
  .browserslistrc
  package.json
  yarn.lock
Due: prettier --write

Update more Webpack dependencies
  .eslintrc.js
  babel.config.js
  package.json
  postcss.config.js
  tsconfig.json
  webpack.config.base.js
  webpack.config.dev.js
  webpack.config.prod.js
  webpack.config.sw.js
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Handle token errors
  src/app/saga.ts
  src/modals/components/error-modal-details.tsx
  src/sbanken/api/get-token.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Fix saga/reducer params
  src/sbanken/reducer.ts
  src/store/root-saga.ts
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier --write

Bump react-dev-utils
  package.json
  yarn.lock
Due: prettier --write

Bump immer to fix vulnerability
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @types/react from 16.9.46 to 16.14.2
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade sass from 1.26.10 to 1.32.2
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade copy-webpack-plugin from 6.0.3 to 6.4.1
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @types/jest from 26.0.10 to 26.0.19
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade multiple dependencies with Snyk
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @typescript-eslint/parser from 4.11.0 to 4.12.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @typescript-eslint/eslint-plugin from 4.11.0 to 4.12.0
  package.json
  yarn.lock
Due: prettier --write

Clean up lockfile
  .gitignore
  yarn.lock
Due: none

fix: package.json & yarn.lock to reduce vulnerabilities
  yarn.lock
Due: none

fix: upgrade @typescript-eslint/parser from 4.14.1 to 4.15.1
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @typescript-eslint/eslint-plugin from 4.14.1 to 4.15.1
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade snyk from 1.437.3 to 1.458.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @types/react-redux from 7.1.9 to 7.1.16
  package.json
  yarn.lock
Due: prettier --write

Fix SW reload and add base components
  package.json
  postcss.config.js
  src/app.css
  src/app.tsx
  src/components/button.tsx
  src/index.html
  src/index.tsx
  src/pages/landing-page.tsx
  tailwind.config.js
  tsconfig.json
  webpack.config.base.js
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Fix stylelint setup
  .stylelintrc.js
  package.json
  src/app.css
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Update build platform versions
  .nvmrc
  azure-pipelines.yml
Due: none

Rename scripts
  azure-pipelines.yml
Due: none

Add missing test packages
  package.json
  yarn.lock
Due: prettier --write

Update deps
  .snyk
  package.json
  webpack.config.dev.js
  yarn.lock
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Also cache fonts in SW
  src/service-worker/index.ts
Due: eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore, prettier --write

Cache deps
  azure-pipelines.yml
Due: none

Fix cache step (maybe?)
  azure-pipelines.yml
Due: none

Path conditions:
  eslint --cache --fix --report-unused-disable-directives --max-warnings=0 --no-ignore: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,scss,md,html})
